@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Edit">Edit</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Post">Post</a>
            </li>
        </ul>
    </div>
</div>
