@model IEnumerable<Blog_Website.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container p-3">
         <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Posts: </h2>
            </div>

            <div class="col-6">
                <a class="btn btn-danger" asp-route-Id="Id" asp-area="" asp-controller="Home" asp-action="Post">Create Post!</a>
            </div>
        </div>

        <br />

        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Body
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr> <!-- table row - tr -->
                            <td width="35%">@post.Title</td> <!-- table data - td -->
                            <td width="35%">@post.Body</td>
                            <td width="30%" class="w-100 btn-group" role="group">
                                <a class="btn btn-primary" asp-route-Id="@post.Id" asp-area="" asp-controller="Home" asp-action="Edit">Edit</a>
                                <a class="btn btn-danger" asp-route-Id="@post.Id" asp-area="" asp-controller="Home" asp-action="Delete">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1>No items created yet!</h1>
        }

    </div>

</div>