@model Post

@{
    ViewData["Title"] = "Post";
}

<div>
    <form asp-controller="Home" asp-action="Post" method="post">
        
        <div class="mb-3">
            <input asp-for="Title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="formGroupExampleInput" placeholder="Title: ">
        </div>

        <div class="input-group">
            <textarea asp-for="Body" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="formGroupExampleInput" placeholder="Body: "></textarea>
        </div>

        <input type="submit" class="btn btn-secondary btn-lg" value="Submit" />
    </form>

</div>